:root {
    --dark-gray: #141414;
    --green: #528c4d;
    --yellow: #b59e3b;
    --gray: #3a393b;
    --white: #ffffff;
}

html{
    background-color: var(--dark-gray);
}

body {
    font-family: 'Source Code Pro', monospace; 
    color: var(--white);
    padding: 1vh 2vw;
}

#scoredle-paste {
    width: 80vw;
}

#title {
    position: relative;
    display: inline-block;
}

#title::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -25px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: var(--green);
    vertical-align: bottom;
    width: 15px;
    /* Set height to the line height of .text */
    height: 30px;
    /* 
    Animation paramaters:
    blink = animation-name, 
    1s = animation-duration, 
    step-end = animation-timing-function,
    infinite = animation-iteration-count
    */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#view-stats {
    font-family: inherit;
    color: var(--white);
    background-color: var(--gray);
    margin: 3vh 0;
    font-size: larger;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*  Profiles Overview */
#profiles-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-overview {
    display: flex;
    flex-direction: column;
}

.profile-overview h5 {
    margin: 0;
}

.profile {
    display: flex;
    margin: 30px 0;
}

.profile h2 {
    width: fit-content;
}

.profile h2:hover {
    background-color: var(--yellow);
    color: var(--dark-gray);
    cursor: pointer;
}

.profile-data {
    width: 22vw;
}

.profile-data p {
    margin: 5px 0;
}

.pfp {
    display: flex;
    align-items: center;
}

.pfp img {
    border-radius: 50%;
    height: 200px;
    margin-right: 25px;
}

.row {
    display: flex;
    margin: 7px 0;
    font-size: smaller;
}

.col-1 {
    flex: 3;
}

.col-2 {
    font-weight: bold;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

/* Media queries for Profiles Overview section */
@media only screen and (max-width: 946px) {
    .profile-data {
        width: 27vw;
    }
    .profile-data h2 {
        margin: 10px 0;
        font-size: large;
    }
    .pfp img {
        height: 120px;
    }
    .row {
        margin: 4px 0;
        font-size: x-small;
    }
}

@media only screen and (max-width: 768px) {
    #profiles-overview {
        flex-direction: column;
    }
    .pfp img {
        height: 150px;
    }
    .profile-data {
        width: 50vw;
    }
    .row {
        margin: 5px 0;
        font-size: small;
    }
}

@media only screen and (max-width: 450px) {
    .pfp img {
        height: 120px;
    }
    .profile-data {
        width: 50vw;
    }
    .row {
        margin: 4px 0;
        font-size: x-small;
    }
}


